version: "3.9"

volumes:
  pg_data:

services:
  postgres:
    build: ./services/postgres
    ports:
      - "5432:5432"
    environment:
      - "POSTGRES_USER=$PG_USER"
      - "POSTGRES_PASSWORD=$PG_PASSWD"
      - "POSTGRES_DB=$PG_DB"
    volumes:
      - "pg_data:/var/lib/postgresql/data"
      - "/home/faisala/checkouts/word-lapse-models:/data"
